Day 8 Bad/
AdventofCode.code-workspace
.vscode

# pixi environments
.pixi/*
!.pixi/config.toml
.DS_Store

# CMake build artifacts
cmake-build-debug/
cmake-build-release/
build/
*.exe
*.cbp
CMakeCache.txt
Makefile